- content_for :custom_scripts do
  = javascript_include_tag 'custom_scripts/user_edit'
- if current_user != @user
  %div#user-actions.round
    %p= link_to("Delete User", @user, :method => 'delete', :confirm => 'Are you sure you want to delete this user?  This can not be undone.')

%div{:id => "user-info", :_user_id => @user.id}
  %p
    %strong Username:
    = @user.username
  %p
    %strong Name:
    = @user.name
  %p
    %strong Roles:
  %ul#user-roles-select
    - User::ROLES.each do |role|
      %li
        = check_box_tag "user-role-#{role}", role, @user.roles.include?(role), {:disabled => (role == 'admin' && @user.roles.include?(role) && @user == current_user) ? true : false}
        = role.titleize
  %input#user-save-roles{:type => 'button', :value => "Save Roles"}
  - if @user.password != 'ldap'
    %p &nbsp;
    %p &nbsp;
    %form{:method => 'post'}
      = hidden_field_tag "authenticity_token", form_authenticity_token
      %div.form-field
        %label New Password
        = password_field_tag "password"
      %div.form-submit
        = submit_tag "Change Password"